<!doctype html>
<title>{% block title %}{% endblock %} - Ben Ramsey</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<main id="intro">
    <h1>Ben Ramsey</h1>
    <nav>
        <a href="{{ url_for('blog.blog') }}">Blog</a>&nbsp; · &nbsp;
        <a href="https://www.linkedin.com/in/benjamin-ramsey-899b76a2/">LinkedIn</a>&nbsp; · &nbsp; 
        <a href="https://github.com/rhymemime">GitHub</a>&nbsp; · &nbsp;
        <a href="https://www.instagram.com/benramspee/">Instagram</a>
        
    </nav>
</main>
</body>
<section class="context">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>